body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

/* Positioning the title */
.top-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* font family for text */
h2,
p,
span {
  font-family: "Roboto Mono", monospace;
}

/* search box */

.dashed-container {
  display: flex;
  flex-direction: row;
  border: dashed #a8a8a8;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 100px;
  padding: 10px 20px;
}

input {
  font-family: "Roboto Mono", monospace;
}

.search-calender-container {
  display: flex;
}

.task-box {
  font-size: 25px;
  margin-left: 50px;
  border: none;
  outline: none;
}

/* buttons */
/* show the hover effect here */
.calender-container :hover {
  border: 1px;
  background: #d4d4d4;
  color: black;
  border-radius: 6px;
  padding: 7px;
  text-decoration: none;
}

.plus-container ::before {
  border: 1px;
  background: #d4d4d4;
  color: black;
  border-radius: 42px;
  padding: 7px;
  text-decoration: none;
}

a {
  color: #000000;
}

a :hover {
  color: #d4d4d4;
}

/* add container  */

.add-container {
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px 100px;
  padding: 10px 20px;
}

.timelapse-generator {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btns {
  display: flex;
  gap: 15px;
}

/* task submitted container */

.add-pomodoro-list {
  display: flex;
  flex-direction: row;
  border: 2px solid #000000;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 100px;
  padding: 10px 20px;
}

.add-pomodoro-list-child1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-pomodoro-list-child2 {
  display: flex;
  align-items: center;
  gap: 40px;
}

.checkbox {
  color: #d4d4d4;
}

.checkbox :hover {
  color: #000000;
}
